@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic);

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

@font-face {
    font-family: "Gotham Bold";
    src: url("../fonts/GOTHAM-BOLD.TTF");
}

@font-face {
    font-family: "Gotham Thin";
    src: url("../fonts/GOTHAM-THIN.TTF");
}

body {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-family: "Gotham Bold", sans-serif;
    font-size: 24px;
}

h2 {
    font-family: "Gotham Thin", sans-serif;
    font-size: 13px;
    color: #85a7b9;
}

.wrapper {
    width: 1366px;
    margin: 0 auto;
}

header {
    display: block;
    float: left;
    width: 100%;
    background: #002f47;
    padding: 22px 5px 24px 5px;
    box-sizing: border-box;
}

.logo {
    display: block;
    float: left;
}

.title {
    display: block;
    float: left;
    margin: 5px 0 0 5px;
}

.top-menu {
    float: right;
    margin: 8px 0 0 0;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

ul li {
    list-style: none;
}

.top-menu li {
    display: inline-block;
    float: left;
    position: relative;
}

.top-menu li:first-child {
    background: url("../images/border.png") no-repeat 149px 5px;
}

.top-menu li a {
    display: block;
    padding: 8px 30px;
}

.top-menu li.active {
    float: left;
    background: #004359;
    border-radius: 5px;
}

.top-menu li.active a {
    color: #76a1b8;
}

.top-menu li:hover {
    background: #004359;
    border-radius: 5px;
}

.top-menu li a:hover {
    color: #76a1b8;
}

.slider{
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 108px 0 0 0;
    text-align: center;
    background: url("../images/slider.png") no-repeat;
}

.section-title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 36px;
}

.button-and-placeholder {
    font-family: "Roboto Medium", sans-serif;
    font-size: 15px;
}

.slider-title {
    font-family: "Roboto Bold", sans-serif;
    font-size: 60px;
    margin: 0 0 13px 0;
}

.slider-description {
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
    margin: 0 0 6px 0;
}

.slider-content {
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    color: #b4d1e1;
    padding: 25px 400px 43px;
}

.slider-button {

}

.team-title-color {
    color: #0d415c;
}

.employee-name {
    font-size: 24px;
    color: #0d415c;
}

.employee-position {
    font-size: 13px;
    color: #618598;
}

.team-content {
    font-size: 15px;
    color: #0d415c;
}

.portfolio-description {
    font-family: "Roboto Light", sans-serif;
    font-size: 18px;
}

.portfolio-button {

}

.testimonials-content {
    font-size: 15px;
    font-style: italic;
}

.contact-form-description {
    font-size: 18px;
}

.contact-form-placeholder {
    color: #8ea6b3;
}

.footer-social {
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
}

.footer-copyright {
    font-size: 12px;
}