@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic);

*
{
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

@font-face {
    font-family: "Gotham Bold";
    src: url("../fonts/GOTHAM-BOLD.TTF");
}

@font-face {
    font-family: "Gotham Thin";
    src: url("../fonts/GOTHAM-THIN.TTF");
}

body {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-family: "Gotham Bold", sans-serif;
    font-size: 24px;
}

h2 {
    font-family: "Gotham Thin", sans-serif;
    font-size: 13px;
    color: #85a7b9;
}

.wrapper{
    width: 1920px;
    margin: 0 auto;
}
header {
    display: block;
    float: left;
    width: 100%;
    background: #002f47;
    padding: 22px 368px 24px 391px;
    margin: 0;
}

.logo{
    display: block;
    float: left;
}

.title{
    display: block;
    float: left;
    margin: 5px 0 0 5px;
}

.top-menu {
    float: right;
}

ul li {
    list-style: none;
}

.top-menu li{
    float: left;
}

.top-menu li a{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

.top-menu li.active{
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

.section-title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 36px;
}

.button-and-placeholder {
    font-family: "Roboto Medium", sans-serif;
    font-size: 15px;
}

.slider-title {
    font-family: "Roboto Bold", sans-serif;
    font-size: 60px;
}

.slider-description {
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
}

.slider-content {
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    color: #b4d1e1;
}

.slider-button {

}

.team-title-color {
    color: #0d415c;
}

.employee-name {
    font-size: 24px;
    color: #0d415c;
}

.employee-position {
    font-size: 13px;
    color: #618598;
}

.team-content {
    font-size: 15px;
    color: #0d415c;
}

.portfolio-description {
    font-family: "Roboto Light", sans-serif;
    font-size: 18px;
}

.portfolio-button {

}

.testimonials-content {
    font-size: 15px;
    font-style: italic;
}

.contact-form-description {
    font-size: 18px;
}

.contact-form-placeholder {
    color: #8ea6b3;
}

.contact-form-button {

}

.footer-social {
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
}

.footer-copyright {
    font-size: 12px;
}